# =======================
# Node.js and Angular
# =======================
# Dependency directories
ServiceBookingSystemWeb/.angular/
ServiceBookingSystemWeb/node_modules/
ServiceBookingSystemWeb/dist/
ServiceBookingSystemWeb/tmp/
ServiceBookingSystemWeb/coverage/

# Angular environment files
ServiceBookingSystemWeb/src/environments/environment.ts
ServiceBookingSystemWeb/src/environments/environment.prod.ts

# TypeScript build info files
ServiceBookingSystemWeb/*.tsbuildinfo

# =======================
# Java and Spring Boot
# =======================
# Compiled output
ServiceBookingSystem/target/

# Spring Boot build files
ServiceBookingSystem/*.jar
ServiceBookingSystem/*.war
ServiceBookingSystem/*.ear
ServiceBookingSystem/*.out
ServiceBookingSystem/*.tmp
ServiceBookingSystem/*.swp
ServiceBookingSystem/*.class

# =======================
# IDEs and editors
# =======================
# Eclipse-specific folders
.metadata/
RemoteSystemsTempFiles/

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws
*.classpath
*.project
.vscode/

# Miscellaneous IDE files
.project
.settings/
*.launch
.c9/
.history/*

# Visual Studio Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# =======================
# Miscellaneous
# =======================
# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Cache and temporary files
ServiceBookingSystemWeb/.sass-cache/
ServiceBookingSystemWeb/connect.lock
ServiceBookingSystemWeb/libpeerconnection.log
ServiceBookingSystemWeb/testem.log
ServiceBookingSystemWeb/typings
