# =======================
# Node.js and Angular
# =======================
# Dependency directories
/node_modules/
/dist/
/tmp/

# Angular environment files
src/environments/environment.ts
src/environments/environment.prod.ts

# =======================
# Java and Spring Boot
# =======================
# Compiled output
ServiceBookingSystem/target/

# Spring Boot configuration files

# Build files
*.jar
*.war
*.ear
*.out
*.tmp
*.swp
*.class

# =======================
# IDEs and editors
# =======================
# Eclipse-specific folders
.metadata/
RemoteSystemsTempFiles/

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws
*.classpath
*.project
.vscode/

# Miscellaneous IDE files
.project
.settings/
*.launch
.c9/
.history/*

# Visual Studio Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# =======================
# Miscellaneous
# =======================
# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Cache and temporary files
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
