<section class="section-1">
  <div class="sec1-main-container">
    <div class="sec1-left-content">
      <h1>Trouvez des services professionnels dans votre secteur</h1>

      <p>
        Payez votre service en toute sécurité, trouvez des professionnels
        qualifiés pour vos projets, notez les services afin d'aider les autres
        utilisateurs à trouver leur deal !
      </p>
      <a
        nz-button
        nzType="link"
        routerLink="/register"
        routerLinkActive="active"
        >Commencer</a
      >
    </div>
    <img src="images/home.png" class="sec1-right-img" />
    <div class="sec1-second-container">
      <div class="sec1-left-subcontainer">
        <h3>A propos de nous</h3>
        <p>
          Get Your Deal connecte particuliers et professionnels pour répondre à
          vos besoins spécifiques, en toute simplicité et confiance. Notre
          mission est de rendre les services accessibles, rapides et sécurisés
          grâce à une plateforme intuitive et innovante.
        </p>
        <a
          nz-button
          nzType="link"
          routerLink="/register"
          routerLinkActive="active"
          >Nous contacter</a
        >
      </div>
      <img class="phone-img" src="images/phone.png" />
      <div class="sec1-right-subcontainer">
        <div class="sec1-info">
          <img src="images/payment.png" />
          <p>Paiement sécurisé</p>
        </div>
        <div class="sec1-info">
          <img src="images/location.png" />
          <p>Recherche par localisation et thématique</p>
        </div>
        <div class="sec1-info">
          <img src="images/rating.png" />
          <p>Notation et avis</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-2">
  <h1>Un peu de chiffres sur nous</h1>
  <h5>
    GetYourDeal est une plateforme de service qui connecte des particuliers avec
    des professionnels certifiés. Mais GetYourDeal c'est aussi ...
  </h5>
  <div class="sec2-facts-container">
    <div class="sec2-fact">
      <img src="images/money-earned.png" />
      <h3>+130K</h3>
      <p>Chiffre d'affaire de nos professionnels</p>
    </div>
    <div class="sec2-fact">
      <img src="images/new-user.png" />
      <h3>+200</h3>
      <p>Nouveaux utilisateurs par mois</p>
    </div>
    <div class="sec2-fact">
      <img src="images/deal-concluded.png" />
      <h3>+15K</h3>
      <p>Deals conclus en 2024</p>
    </div>
    <div class="sec2-fact">
      <img src="images/star.png" />
      <h3>6.6K</h3>
      <p>Revues pas des utilisateurs</p>
    </div>
  </div>
</section>

<section class="section-3">
  <img src="images/todo-list.png" />
  <div class="sec3-content">
    <h3>
      Vous n'arrivez pas à trouver le temps pour réaliser votre to-do list ?
    </h3>
    <div class="sec3-points">
      <div class="sec3-point-container">
        <div class="sec3-point">1</div>
        <p>Trouvez des professionnels compétents proche de chez vous</p>
      </div>
      <div class="sec3-point-container">
        <div class="sec3-point">2</div>
        <p>Prenez rendez-vous en quelques clicks</p>
      </div>
      <div class="sec3-point-container">
        <div class="sec3-point">3</div>
        <p>
          Notez chaque service afin d'aider les autres utilisateurs à faire leur
          choix
        </p>
      </div>
    </div>
    <a
      nz-button
      nzType="link"
      routerLink="/register_client"
      routerLinkActive="active"
      >Devenez client</a
    >
  </div>
</section>

<section class="section-4">
  <div class="sec3-content sec4-content">
    <h3>
      Vous n'arrivez pas à trouver le temps pour organiser vos rendez-vous ?
    </h3>
    <div class="sec3-points">
      <div class="sec3-point-container">
        <div class="sec3-point">1</div>
        <p>Choisissez les missions que vous souhaitez réaliser</p>
      </div>
      <div class="sec3-point-container">
        <div class="sec3-point">2</div>
        <p>Suivez vos rendez-vous à tout moment</p>
      </div>
      <div class="sec3-point-container">
        <div class="sec3-point">3</div>
        <p>Devenez le meilleur professionnel de GetYourDeal</p>
      </div>
    </div>
    <a
      nz-button
      nzType="link"
      routerLink="/register_company"
      routerLinkActive="active"
      >Proposez vos services</a
    >
  </div>
  <img src="images/professional.png" />
</section>
