<div class="signup-container">
  <button class="client-btn" routerLink="/register_client">
    <img src="images/client-btn.png" />
    <h1>Je recherche un professionnel</h1>
    <p>Trouvez un prestataire qualifié près de chez vous.</p>
  </button>
  <button class="professional-btn" routerLink="/register_company">
    <img src="images/professional-btn.png" />
    <h1>Je suis un professionnel</h1>
    <p>
      Proposez des services et augmentez votre chiffre d'affaire en collaborant
      avec nous.
    </p>
  </button>
</div>
